body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
#navbar {
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 30px 10px 30px;
      background-color: #3E3E44;
}

#title{
    font-size: 36px;
    font-weight: 15px;
    text-decoration: none;
    color: white;
}

#navbar-items {
    display:flex;
    flex-direction: row;
}

.link {
    text-decoration: none;
    color: white;
}

#link-container {
    display:flex;
    flex-direction: column;
}
